---
fun: times
foods: [grape, apple]
---
<div class="<%= className %>"><%= text %></div>
<div>My buttons are clicky at <%= fun %></div>
<% for (food of foods) { %>
<%= foods %>
Fruit: <%= food %>
<% } %>